/* your styles go here */

img#main-logo {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

img#main-logo+* {
    margin-top: 20px;
}

@media screen and (max-width: 767px){
    .row-offcanvas-left.active .sidebar-offcanvas {
        /* This hides the sidebar, previously the text overflowed by a few pixels */
        display: initial;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        /* This hides the sidebar, previously the text overflowed by a few pixels */
        display: none;
    }
}
